### Python template
# Byte-compiled / optimized / DLL files
*/.ipynb_checkpoints
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IntelliJ project files
*.idea
*.iml
out
gen

# Custom files
/linkedin analysis/LinkedInDataExport
/pricing models/ebay.apikey
/financial data/config.cfg
/financial data/parsed.txt
/akismet/config.ini
/facebook analysis/fbconfig.ini
/google analysis/gplus.dat
/google analysis/credentials.json
/google analysis/config.ini
/linkedin analysis/config.ini
/github analysis/config.ini
/twitter analysis/twitter_oauth
/twitter analysis/config.ini
/mining mailboxes/config.ini
/mining mailboxes/data/danpaulius.gmail.json
/mining mailboxes/data/enron.mbox.json
/github analysis/data/github.gpickle.3
/github analysis/data/github.gpickle.2
/github analysis/data/github.gpickle.1
